.idea

nbproject

.buildpath
.project
.settings

Thumbs.db

/vendor

composer.phar

phpunit.phar
/phpunit.xml

tests/_output/*
tests/_support/_generated

/.vagrant

web/ckfinder/userfiles/.ckfinder/*
web/ckfinder/userfiles/files/*
web/ckfinder/userfiles/images/*