/* ITEMS */
.items {
  float: left;
  width: 660px;
  overflow: hidden;
}
.items .list-view {
  clear: both;
  overflow: hidden;
}
.list-view .item {
  float: left;
  border-right: 3px solid #e5e5e5;
  border-bottom: 3px solid #e5e5e5;
}
.list-view .item {
  display: inline-block;
  margin-bottom: 3px;
}
.list-view .item a {
  position: relative;
  display: inline-block;
  color: #56bb5c;
}
.list-view .item a img {
  min-width: 128px;
  min-height: 128px;
  opacity: .8;
}
.list-view .item a img:hover {
  opacity: 1;
}
.list-view .item a .checked {
  display: none;
  position: absolute;
  top: 5px;
  right: 6px;
  font-size: 2em;
}
.list-view .item .active {
  outline: 3px solid #56bb5c;
  outline-offset: -3px;
}
.list-view .item .active img {
  opacity: 1;
}
.list-view .item .active .checked {
  display: inline-block;
}

/* PAGINATION */
.pagination {
  display: block;
  margin-top: 10px;
}

/* REDACTOR */
.redactor {
  width: 290px;
  float: left;
  padding-left: 10px;
}

/* UPLOAD MANAGER */
#uploadmanager {
  padding: 0 15px 0 0;
}
#uploadmanager .progress {
  margin-top: 10px;
}

/* FILEINFO */
#fileinfo img {
  float: left;
  max-width: 100px;
}
#fileinfo .inputs .input-group {
  margin-bottom: 5px;
}
#fileinfo .filename {
  clear: both;
  margin-bottom: 5px;
}
#fileinfo #control-form .form-group {
  margin-bottom: 0;
}
#fileinfo #control-form .control-label {
  margin-bottom: 0;
  font-size: .9em;
  font-weight: bold;
}
#fileinfo #control-form textarea {
  max-width: 100%;
}
